header {
  background-color: dimgrey;
}

.Header {
  text-align: center;
  text-decoration: none;
}

.Header a {
  text-decoration: none;
  color: #fff;
}

.Header ul {
  margin: 0;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  background-color: #000000;
}

ul li {
  list-style-type: none;
}

.Navbar a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: block;
}
.Navbar {
  padding: 0;
  margin: 0;
}
.Navbar li {
  display: block;
  padding: 60px;
  border-bottom: 1px solid #666;
  background-color: #949494;
  width: 40px;
}






